table {
  width: 500px;
  min-width: 50%;
  text-align: center;
}

thead {
  font-size: 2.25rem;
  text-decoration: underline;
}

td {
  font-size: 2rem;
}

a,
a:visited {
  color: var(--text);
}

.avatar {
  filter: sepia() hue-rotate(130deg) saturate(500%);
}

hr {
  border: 2px solid var(--text);
  margin: 1rem 0;
}
