<h1>Staff Directory</h1>
<p *ngIf="loading" class="type-forever">Loading...</p>
<div *ngIf="!loading">
  <p>Welcome to our staff directory.</p>
  <p>
    As a sole-proprietorship, we are limited in our ability to bring on
    full-time employees. However, we do bring on pro-bono and contracted
    consultants, as well as our C-Suite team to ensure we are on track for the
    growth goals of our company.
  </p>
  <hr />
  <h2>Executives</h2>
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Title</th>
        <th>Since</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of employees">
        <td>
          <img
            class="avatar"
            src="/assets/img/team/{{ member.avatar }}"
            alt="{{ member.name }}"
            width="100"
          />
        </td>
        <td>
          <a
            href="{{ member.link }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ member.name }}</a
          >
        </td>
        <td>{{ member.title }}</td>
        <td>{{ member.since }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h2>Consultants</h2>

  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Title</th>
        <th>Since</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of consultants">
        <td>
          <img
            class="avatar"
            src="/assets/img/team/{{ member.avatar }}"
            alt="{{ member.name }}"
            width="100"
          />
        </td>
        <td>
          <a
            href="{{ member.link }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ member.name }}</a
          >
        </td>
        <td>{{ member.title }}</td>
        <td>{{ member.since }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h2>Moderators</h2>

  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Title</th>
        <th>Since</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of moderators">
        <td>
          <img
            class="avatar"
            src="/assets/img/team/{{ member.avatar }}"
            alt="{{ member.name }}"
            width="100"
          />
        </td>
        <td>
          {{ member.name }}
        </td>
        <td>{{ member.title }}</td>
        <td>{{ member.since }}</td>
      </tr>
    </tbody>
  </table>
</div>
